In [13]:
import pandas as pd
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt
df = pd.read_csv('Dataset - Dataset.csv')

df

,Customer ID,Gender,Age,Income,Occupation,Marital Status,No. Family Members,Home Ownership,Home Value,Years in Current Home,...,Total Credit Card Balance,Product ID,Products Purchased,Number of Online Purchases,Average Purchase Value,Last Purchase Value,Days Since Last Purchase,Number of Returns,Total Values of Returns,Locations
0,C001,Female,23,27275,Student,Single,2,Own,442797,13,...,22979,P001,Clothing,8,142.776953,50.131325,29,1,20.110947,Bangalore
1,C002,Female,18,35579,Student,Single,3,Own,182090,17,...,18890,P002,Jewelry,16,152.688423,40.423631,66,4,33.868237,Delhi
2,C003,Male,45,59347,Homemaker,Single,2,Own,973684,12,...,14721,P003,Jewelry,3,115.261674,88.014050,131,4,94.178999,Jaipur
3,C004,Female,19,27105,Student,Married,3,Own,94669,7,...,21491,P004,Books,1,48.428081,192.532891,50,5,51.754754,Nashik
4,C005,Female,45,47566,Homemaker,Single,4,Own,938493,7,...,2842,P005,Jewelry,13,183.458441,233.079310,171,3,76.830901,Bangalore
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6995,C6996,Male,62,52159,Professional,Single,5,Own,449503,4,...,16224,P6996,Beauty Products,15,101.121872,124.814756,21,0,56.564169,Bangalore
6996,C6997,Male,56,27406,Self-employed,Single,2,Own,804846,18,...,8915,P6997,Outdoor Gear,9,165.191947,153.226793,3,4,87.086811,Pune
6997,C6998,Female,18,41671,Self-employed,Widowed,4,Own,356720,12,...,5717,P6998,Home Appliances,20,46.544462,85.187943,6,0,37.188616,Mumbai
6998,C6999,Male,52,21359,Executive,Divorced,3,Own,978818,17,...,7641,P6999,Electronics,2,98.275850,151.667053,72,3,46.998330,Bangalore
6999,C7000,Female,32,44999,Technician,Widowed,5,Own,166775,6,...,20328,P7000,Home Appliances,14,118.425279,160.690982,110,1,55.199802,Bangalore

In [7]:
X = df[['Customer ID','Gender', 'Age','Income','Occupation','Marital Status','No. Family Members','Home Ownership','Home Value','Years in Current Home','Credit Score','Number of Credit Cards','Total Credit Card Limit','Total Credit Card Balance','Product ID','Products Purchased','Number of Online Purchases','Average Purchase Value','Last Purchase Value','Days Since Last Purchase','Number of Returns','Total Values of Returns','Locations']].values


inertia = []
for k in range(1, 11):
    kmeans = KMeans(n_clusters=k, random_state=42)
    kmeans.fit(X)
    inertia.append(kmeans.inertia_)
plt.plot(range(1, 11), inertia)
plt.title('Elbow Method')
plt.xlabel('Number of Clusters')
plt.ylabel('Inertia')
plt.show()


kmeans = KMeans(n_clusters=5, random_state=42)
y_kmeans = kmeans.fit_predict(X)


plt.scatter(X[y_kmeans == 0, 3], X[y_kmeans == 0, 16], s = 100, c = 'red', label = 'Cluster 1')
plt.scatter(X[y_kmeans == 1, 3], X[y_kmeans == 1, 16], s = 100, c = 'blue', label = 'Cluster 2')
plt.scatter(X[y_kmeans == 2, 3], X[y_kmeans == 2, 16], s = 100, c = 'green', label = 'Cluster 3')
plt.scatter(X[y_kmeans == 3, 3], X[y_kmeans == 3, 16], s = 100, c = 'cyan', label = 'Cluster 4')
plt.scatter(X[y_kmeans == 4, 3], X[y_kmeans == 4, 16], s = 100, c = 'magenta', label = 'Cluster 5')
plt.scatter(kmeans.cluster_centers_[:, 3], kmeans.cluster_centers_[:, 16], s = 300, c = 'yellow', label = 'Centroids')
plt.title('Customer Segmentation')
plt.xlabel('Income')
plt.ylabel('Number of Online Purchases')
plt.legend()
plt.show()

ValueError: could not convert string to float: 'C001'

In [12]:
print(df.columns)

Index(['Customer ID_C001', 'Customer ID_C002', 'Customer ID_C003',
       'Customer ID_C004', 'Customer ID_C005', 'Customer ID_C006',
       'Customer ID_C007', 'Customer ID_C008', 'Customer ID_C009',
       'Customer ID_C010',
       ...
       'Locations_Lucknow', 'Locations_Ludhiana', 'Locations_Mumbai',
       'Locations_Nagpur', 'Locations_Nashik', 'Locations_Patna',
       'Locations_Pune', 'Locations_Surat', 'Locations_Vadodara',
       'Locations_Visakhapatnam'],
      dtype='object', length=61407)